<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap/cerulean.bootstrap.min.css">
    <!-- DateRangePicker CSS -->
    <link rel="stylesheet" type="text/css" href="../static/daterangepicker/daterangepicker.css" />

    <!-- TODO: Move to custom.css -->
    <!-- <link rel="stylesheet" href="../static/bootstrap/custom.css"> -->
    <style>
      body{
        padding-top:10px
      }
      .form-control {
        margin-left: 10px;
        margin-right: 10px;
      }
      .btn{
        margin-right: 10px;
      }
      .btn-sm{
        margin-right: 0px;
      }
    </style>

    <title>Журнал входящих дел</title>
  </head>
  <body>

    <!-- NAVIGATION BAR -->
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a href="../" class="navbar-brand">Журнал поступивших дел</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="user_settings" aria-expanded="false">Настройки <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="user_settings">
                            <a class="dropdown-item" href="#">Пользователь</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="">Текущий год</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% if case_list %}
        {% include '_input_form.html' with context %}
        {% include '_case_list.html' with context %}
    {% else %}
        <div class="container" style='margin-top: 50px'>
          <div class="row">
            <div class="alert alert-danger col-12" role="alert">ОШИБКА: Нет соединения с сервером БД!</div>
          </div>
        </div>
    {% endif %}

    <!-- Modal "Add company" -->
    <div class="modal fade" id="add_company_modal" tabindex="-1" role="dialog" aria-labelledby="add_company_modal_label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form id='add_company_form'>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="add_company_modal_label">Добавить организацию</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="company_name">Название организации</label>
                <input type="text" class="form-control" id="company_name" name="company_name" placeholder="Введите название" required>
              </div>
              <div class="form-group">
                <label for="company_locality">Город</label>
                <input type="text" class="form-control" id="company_locality" name="company_locality" placeholder="Введите город (необязательно)">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </div>
      </form>
      </div>
    </div>


    <!-- Modal "Add employee" -->
    <div class="modal fade" id="add_empl_modal" tabindex="-1" role="dialog" aria-labelledby="add_empl_modal_label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form id='add_empl_form'>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="add_empl_modal_label">Добавить сотрудника</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="empl_fio">ФИО сотрудника:</label>
                <input type="text" class="form-control" id="empl_fio" name="empl_fio" placeholder="Введите ФИО" required>
              </div>
              <div class="form-group">
                <label for="empl_comment">Примечание:</label>
                <input type="text" class="form-control" id="empl_comment" name="empl_comment" placeholder="Введите примечание (необязательно)">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </div>
      </form>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/bootstrap/jquery-1.12.4.min.js"></script>
    <script src="../static/bootstrap/popper.min.js"></script>
    <script src="../static/bootstrap/bootstrap.min.js"></script>
    <!-- 
      DateRange picker
      A JavaScript component for choosing date ranges, dates and times.
      https://github.com/dangrossman/daterangepicker
    -->
    <script type="text/javascript" src="../static/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="../static/daterangepicker/daterangepicker.min.js"></script>

    <!-- JS helper functions -->
    <script type="text/javascript" src="../static/main.js"></script>
    
    <!-- TODO: move to main.js file -->
    <script type="text/javascript">
      // on page loading
      $(document).ready(function(){
        
        // lists preloading
        loadCourtList(0);
        loadEmplList(0);

        // date picker setup
        $('#case_in_date').daterangepicker({
          "singleDatePicker": true,
          "locale": {
            "format": "DD.MM.YYYY",
            "daysOfWeek": ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
            "monthNames": ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
            "firstDay": 1 // week starts monday
          },
          "startDate": moment() // current date
        }
          //,
          // DEBUG Console logging
          // function(start, end, label) {
          //    console.log('New date selected: ' + start.format('YYYY-MM-DD'));
          // }
        );

      }); // end (document).ready()
      
    </script>

  </body>
</html>
